body {
    margin: 60px;
}

h1 {
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0,0,0);
}

header ul {
    margin-right: 30px;
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}
