body {
    display: flex;
    background-color: rgb(238,238,238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    margin: 0;
}

header {
    border-bottom: 3px solid black;
    margin-bottom: 30px;
    text-transform: uppercase;
}

header, main, footer {
    padding: 0 30px;
}

main {
    flex-grow: 1;
}

footer {
    color: rgb(255,255,255);
    background-color: rgb(102, 102, 102);
}